body {
  background-color:bisque;
}

h1 {
  text-align: center;
}

div {
  width: 300px;
  align-content: center;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  font-size: 70%;
  position: fixed;
  bottom: 0;
  right: 0;
}

input {
  width: 230px;
  height: 25px;
  background-color:lavender;
  float: left;
}
input#restart {
  width:auto;
  margin: auto;
  /* float: ; */
}
input#textGo {
  width:50px;
  float: right;
}
#alertMessage {
  color: red;
  font-weight: bold;
  margin: 10px auto;
  display: inline-block;
}

.entryText {
  width: 300px;
  margin: 10px auto;
  /* position: fixed; */
  /* top: 0; */
}

button {
  background-color:lavender;
}
#memory {
  width: 300px;
  margin: 10px auto;
  display: inline-block;
}
